/* =============================================================================
   Theme
   ========================================================================== */

body {
	font-size: 16px;
	color: #333;
	line-height: 1.5;
	border-top: 6px solid $colorPrimary;
}

li {
	margin: 0.25em 0;
}

small {
	font-size: 85%;
}

h1 {
	font-size: 1.75em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-weight: normal;
	color: $colorSecondary;
	text-transform: uppercase;
}

a {
	color: $colorPrimary;
}

a:visited {
	color: lighten($colorPrimary, 14%);
}

a:hover {
	color: $colorSecondary;
}

/*  Navigation
    ============= */
.navigation, .pagination_list {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow:auto;

	& > li {
		float: left;
		margin-right: 1em;
	}
}

.pagination{
	margin: 1em 0;

	&.right {
		float:right;
		overflow: auto;
	}
}

#site-navigation {
	margin-bottom: 1em;

	.navigation {
		float: right;

		li {
			margin-top: 0;
			margin-bottom: 0;
		}

		& > li > a {
			display:block;
			text-decoration: none;
			padding: 0.5em 1em;
			font-size: 1.2em;
			color: $lightGray;
		}

		& > li > a:hover {
			color: $colorPrimary;
		}

		.current > a {
			color: $colorPrimary;
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}

/** Search Box
    ============== */
#search-box {
	margin-bottom: 0.75em;

	.button {
		display: inline;
	}
}


/*  Header
    ============== */
header {
	margin-bottom: 1em;

	h1 {
		margin-bottom: 0;
	}
}

.home-slice {
	float:left;
	width:19.5%;
	margin-right: 0.625%;
}

.header-blocks {
	margin-bottom: 14px;
	font-size: 65%;

	.home-slice:last-child {
		margin-right: 0;
	}
}

.orange {
	background-color: $colorPrimary;
}

.heading {
	font-size: 4em;
	margin: 0;
}

.tagline {
	font-size: 1em;
	margin: -20px 0 0;
	color: lighten($colorSecondary, 20%);
}

/*  Footer
    ============== */
footer {
	margin: 1em 0;
	border-top: 1px solid $colorPrimary;
	clear: both;

	h3 {
		font-size: 1.15em;
		margin-bottom: 0.5em;
	}

	nav {
		overflow: auto;
		margin-bottom: 1em;
	}
}

.footer-nav {
	a {
		color: $lightGray;
		text-decoration: none;
	}

	a:hover {
		color: $colorPrimary;
	}
}

.social-media {
	float: right;

	& > li {
		margin-right: 0.5em;
	}
}

/*  Admin Bar
    ============= */

#admin-bar {
	overflow: auto;

	& > ul {
		float: right;
	}
}

/*  Homepage
    ============= */
.hero {
	.home-slice {
		background-color: $lightGray;
		height: 300px;
		position: relative;

		.closed-caption {
			position: absolute;
			left:0;
			right: 0;
			bottom: 0;
		}
	}

	.home-slice:last-child {
		margin-right: 0;
	}
}

/*  Browse Screen
    ============= */
.items {
	overflow: auto;

	&:before,
	&:after {
		display: table;
		content: "";
	}

	.item {
		float: left;
		width: 47.5%;
		margin-right: 5%;
		margin-bottom: 4em;
	}

	.item:nth-child(even) {
		margin-right: 0;
	}

	.item:last-child {
		margin-bottom: 1em;
	}
}

.item-thumbnail {
	img {
		width: 100%;
		height: auto;
	}
}

/*  Blocks
    ============= */
.unstyled {
	padding: 0;
	margin: 0;
}

.padded {
	padding: 1em;
}

.closed-caption {
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.hidden {
	display:none;
}

.push-down {
	margin-top: 1em;
}

.shadow {
	box-shadow: 2px 2px 3px rgba(0,0,0, 0.1);
}

/*  Forms
    ============= */
.input, .textinput, input[type="text"]{
	font: inherit;
	padding: 0.5em;
	border: 1px solid #BBB;

	&.medium {
		width: 59%;
	}

	&.long {
		width: 75%;
	}

	&.full {
		width: 100%;
	}
}

/*  Typography
    ============= */
.primary {
	color: $colorPrimary;
}

.gray-link {
	a {
		color: $lightGray;
	}

	a:hover {
		color: $colorPrimary;
	}
}

.text-right {
	text-align:right;
}

.right {
	float: right;
}

.page-heading {
	small {
		color: $colorPrimary;
		margin-left: 0.25em;
		font-size: 0.75em;
		text-transform: none;
	}
}

.permalink {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 0.5em;
	display:block;
}

/** Responsive Additions
    ======================== */

@media (max-width: 767px) {
	.content {
		padding: 0 0.75em;
	}

	#search-box {
		padding: 0.5em;
		background-color: $colorPrimary;
		margin-bottom: 0;

		.input {
			width: 75%;
		}

		.button {
			width: 20%;
		}
	}

	#simple-search {
		@include border-box;
		width: 100%;
	}

	#site-navigation {
		margin-bottom: 0;

		.navigation {
			float: none;
			background-color: #EEE;

			& > li {
				float: none;
				margin-right: 0;
				border-width: 1px 0;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #ccc;
			}
		}
	}

	#main-nav {
		width: 100%;
		overflow: hidden;
		@include transition(max-height, 0.3s, cubic-bezier(.25,.93,.35,.99));
		max-height: 0px;

		.mobile-nav & {
			max-height: 167px;			
		}
	}

	.home-slice {
		width: 100%;
		display: block;
		margin-bottom: 1em;
	}

}