/* =============================================================================
   Variables
   ========================================================================== */

/* Colors
   ========================================================================== */

$colorPrimary: #FF7300;
$colorSecondary: #4f2c1d;
$colorAccent: #10BDF2;

$gray: #4b4b4b;
$lightGray: #7a7878;

/* Grid
   ========================================================================== */

$gridColumns: 12;
$gridGutter: 2%;
$gridSize: (100% - (($gridColumns - 1) * $gridGutter)) / $gridColumns;