// BC COLORS
$bc_white: #ffffff;
$bc_footer_maroon: #501315;
$bc_maroon: #8a100b;
$bc_blue: #234673;
$bc_dark_red: #501315;
$bc_caption_blue: #183e50;
$bc_caption_blue_bright: #0d5e93;
$bc_figure_green: #5d694a;
$bc_light_grey: #edefef;
$bc_warm_grey: #726158;
$bc_gold: #dccaa0;
$bc_dark_gold: #8a6b46;
$bc_bright_orange: #d79713;
$bc_burnt_orange: #ac6d37;

$bc_control_gray_bg: #f7f6f8;
$bc_control_gray_fg: #E5E2D7;

$bc_exhibit-color: $bc_blue;
$bc_item-color: $bc_burnt_orange;
$bc_home-color: $bc_gold;
$bc_simple-page-color: $bc_figure_green;

$brand-primary: darken(#337ab7, 5%);

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;

$body-bg: desaturate(lighten($bc_gold, 16%), 12%);

$font-size-base: 16px;

$header-bg: $bc_light_grey;
$navbar-default-bg: $header-bg;
$navbar-default-toggle-border: $header-bg;

$bc_box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.4);

$bc_arrow_dimension: 18px;

$screen-lg: 1280px;

$container-large-desktop: (1240px + 30px);

$bc_main_top_margin: 16px;
