header {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
  background-color: $header-bg;
  z-index: 2;
  position: relative;

  .navbar {
    margin-bottom: 8px;
    border: 0;

    h1 {
      font-size: 36px;
      font-family: "Open Sans Condensed", "Open Sans", sans-serif;
      margin: 0;
      font-weight: bold;
      padding-top: 12px;

      a, a:active, a:hover {
        color: black;
        text-decoration: none;
      }
    }

    ul.navbar-right {
      margin-top: 21px;

      li {
        text-transform: uppercase;
        margin-right: 16px;
        float: none;
        display: inline-block;
        font-size: 18px;
        vertical-align: baseline;
        padding-top: 2px;



        &.home {
          border-top-color: $bc_home-color;
        }

        &.exhibit {
          border-top-color: $bc_exhibit-color;
        }

        & > a {
          padding: 0;
        }

        &.active {
          border-top-width: 4px;
          border-top-style: solid;

          a, a:hover, a:focus {
            background-color: $header-bg;
          }
        }
      }
    }
  }
}