#exhibit-page-navigation {
  .next-page, .previous-page {
    background-color: $bc_exhibit-color;
  }

  .next-page:hover, .previous-page:hover {
    background-color: lighten($bc_exhibit-color, 10%);
  }
}

.x-button {
  float: right;
  color: white;
  margin-right: 1em;
  cursor: pointer;
}

.jump-button {
  float:left;
}

.jump-button.collapsed + .x-button {
  display: none;
}

.arrows {
  .next-page, .previous-page {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: $bc_arrow_dimension solid transparent;
    font-size: 0;
    position: absolute;
    top: 25px;
  }

  .next-page {
    border-right: none;
    border-left: $bc_arrow_dimension solid $bc_exhibit-color;
    &:hover {
      border-left-color: lighten($bc_exhibit-color, 10%);
    }
    right: 135px;
  }

  .previous-page {
    border-left: none;
    border-right: $bc_arrow_dimension solid $bc_exhibit-color;
    &:hover {
      border-right-color: lighten($bc_exhibit-color, 10%);
    }
    left: 100px;
  }
}

.exhibit-nav-row {
  position: relative;
  height: 72px;

  .collapsing {
    transition: height 0.1s;
  }

  .exhibit-nav-container {
    position: absolute;
    right: 1em;
    top: 25px;
    z-index: 1;
    background: $bc_exhibit-color;
    padding: 0;
    box-shadow: $bc_box-shadow;

    & > p {
      text-align: right;
      margin: 0;
      height: 37px;

      .btn-primary {
        background-color: transparent;
        border: none;
      }

      .btn-primary:hover, .btn-primary:focus {
        border: none;
        outline: none;
      }

    }

    #exhibit-nav-box {
      background-color: $bc_white;
      width: 100%;
      padding: 1em;
      border: 8px solid $bc_exhibit-color;
      font-size: 15px;

      ul {
        list-style: none;
        margin-left: 12px;
        padding-left: 0;
        li: 1.5;

        ul {
          padding-left: 1em;
        }

        .current {
          position: relative;
          font-weight: 600;

          & :before {
            content: '>';
            position: absolute;
            top: 0;
            left: -15px;
            color: #008CBA;
          }
        }
      }
    }
  }
}

